/* variables */
:root {
	--header-color: #2a3d66;
	--background-color: #ffffff;
	--text-color: #333333;
	--highlight-color: red;
	--font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--padding: 1.5rem;
	--text-size: 1.15rem;
	--button-size: 2rem;
	--line-height: 1.5;
}

/* header */
h1 {
	color: var(--header-color);
	font-family: var(--font);
}

/* main text */
body {
	color: var(--text-color);
	font-family: var(--font);
	font-size: var(--text-size);
	line-height: var(--line-height);
	font-weight: 500;
}

/* hidden class */
.hidden {
	display: none;
}

/* new poem button */
#poem-form {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	align-items: last baseline;
	padding-inline: var(--padding);
}

/* input in textarea */
#poem-text {
	flex: 1 1 auto;
	overflow: hidden;
	height: auto;
}

/* + button */
#submit {
	flex: 0 0 auto;
	font-size: var(--button-size);
}

/* allow submission class */
.allow {
	color: var(--highlight-color);
}

/* poem sections */
.poem,
.random-poem {
	padding: var(--padding);
	max-height: 75vh;
	overflow: hidden;
}

section.random-poem {
  background: linear-gradient(
    to bottom,
    var(--text-color) 25%,
    var(--background-color) 100%
  );
  /* https://css-tricks.com/snippets/css/gradient-text/ */
  /* using this to change the gradient of the random poem without having to do it in js */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}